.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 55px;
    background-color: white;
    border-bottom: 1px solid rgb(228, 228, 228);
    z-index: 100;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.left-section{
    display: flex;
    align-items: center;
}

.middle-section{
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
}

.right-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    width: 180px;

    margin-right: 20px;
}

.hamburger-menu{
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
    cursor: pointer;
}

.youtube-logo{
    height: 20px;
    cursor: pointer;
}

.search-button{
    height: 38px;
    width: 66px;
    background-color: rgb(241, 241, 241);
    border: 1px solid rgb(216, 216, 216);
    cursor: pointer;

    margin-right: 10px;
    margin-left: -1px;
}

.upload-icon-container,
.youtube-apps-icon-container,
.notifications-icon-container,
.current-user-picture{
cursor: pointer;
}


.search-button,
.voice-search-button,
.upload-icon-container,
.youtube-apps-icon-container,
.notifications-icon-container{
    position: relative;
    display: flex;
    justify-content: center;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-icon-container .tooltip,
.notifications-icon-container .tooltip{
    position: absolute;
    background-color: gray;
    color: white;
    padding: 4px 8px 4px 8px;
    border-radius: 2px;
    font-size: 12px;

    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip{
    opacity: 1;
}

.voice-search-button{
    height: 38px;
    width: 40px;
    border-radius: 50px;
    border: none;
    background-color: rgb(241, 241, 241);
    cursor: pointer;
}

.voice-search-icon{
    height: 25px;
    margin-top: 5px;
}

.search-bar{
    flex: 1;
    padding: 10px 10px 10px 10px;
    outline: none;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    border-color: rgb(216, 216, 216);
    box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
    width: 0;

}

.seach-bar::placeholder{
    font-size: 16px;
}

.search-icon{
    height: 25px;
    margin-top: 5px;
}

.upload-icon{
    height: 24px;
}

.youtube-apps-icon{
    height: 24px;
}

.notifications-icon{
    height: 24px;
}

.current-user-picture{
    height: 32px;
    border-radius: 16px;
}

.notifications-icon-container{
    position: relative;
}

.notifications-count{
    position: absolute;
    top: -2px;
    right: -5px;
    background-color: rgb(201, 0, 0);
    color: white;
    text-align: center;
    border-radius: 10px;
    font-size: 11px;
    padding: 2px 5px 2px 5px;
}