.sidebar{
    position: fixed;
    top: 55px;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 200;
}

.button-sidebar-container{
    width: 100%;
}

.button-sidebar-container:hover{
    background-color: rgb(238, 238, 238);
}

.button-sidebar{
    width: 100%;
    border: none;
    background: none;
    font-size: 11px;
    cursor: pointer;

    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-icon{
    height: 25px;
    width: 25px;
    margin-bottom: 7px;
}