.thumbnail{
    width: 100%;
}

.video-title{
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 6px;
}

.video-author{
    margin-bottom: 4px;
}

.video-author,
.video-stats{
    font-size: 12px;
    color: rgb(96, 96, 96);
}

.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}

.profile-picture{
    width: 40px;
    border-radius: 50px;
}

.thumbnail-row{
    position: relative;
    margin-bottom: 12px;
}

.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

@media (max-width: 600px) {
    .video-grid {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 601px) and (max-width: 999px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .video-title{
        font-size: 16px;
        line-height: 18px;
    }
    .video-author{
        font-size: 14px;
    }
    .video-stats{
        font-size: 14px;
    }
}

.video-time{
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 500;

    padding: 4px 4px 4px 4px;
}

.video-preview-container{
    cursor: pointer;
}

.video-link{
    text-decoration: none;
    color: inherit;
}

.channel-picture{
    position: relative;
}

.picture-tooltip-container{
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2),
    -1px -1px 5px rgba(0,0,0,0.2);
    position: absolute;
    border-radius: 8px;
    height: 60px;
    width: 190px;
    padding: 8px 10px 5px 10px;
    opacity: 0;
    transition: opacity 0.16s;
    pointer-events: none;
    z-index: 201;
}

.channel-picture:hover .picture-tooltip-container{
    opacity: 1;
}

.picture-tooltip{
    height: 50px;
    border-radius: 25px;
}

.info-tooltip{
    margin-left: 15px;
    line-height: 20px;
}

.tooltip-author{
    font-weight: bold;
}

.tooltip-author,
.tooltip-subs{
    margin: 0;
    font-size: 14px;
}
